<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <leonex_rmp>
            <settings>
                <apiurl>https://rmp.leonex.de/api/creditrating/rate</apiurl>
                <time_of_checking>before_order_placement</time_of_checking>
                <max_grand_total_when_offline>0</max_grand_total_when_offline>
            </settings>
            <address>
                <dob_tooltip><![CDATA[Das Gebutrsdatum wird für eine Bonitätsprüfung benötigt. Nur so bekommen Sie die Zahlungsart "Rechnung" angeboten (optional).]]></dob_tooltip>
                <is_dob_required>1</is_dob_required>
                <prefix_gender_mapping>
                    <item1>
                        <prefix>Herr</prefix>
                        <gender>m</gender>
                    </item1>
                    <item2>
                        <prefix>Frau</prefix>
                        <gender>f</gender>
                    </item2>
                    <item3>
                        <prefix>Divers</prefix>
                        <gender>d</gender>
                    </item3>
                </prefix_gender_mapping>
            </address>
            <logging>
                <debug_logging_enabled>0</debug_logging_enabled>
                <storage_duration_in_days>14</storage_duration_in_days>
            </logging>
        </leonex_rmp>
    </default>
</config>
