<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <leonex_rmp>
            <settings>
                <apiurl>https://rmp.leonex.de/api/creditrating/rate</apiurl>
                <time_of_checking>pre</time_of_checking>
                <dob_tooltip><![CDATA[Das Gebutrsdatum wird für eine Bonitätsprüfung benötigt. Nur so bekommen Sie die Zahlungsart "Rechnung" angeboten (optional).]]></dob_tooltip>
                <is_dob_required>1</is_dob_required>
            </settings>
        </leonex_rmp>
    </default>
</config>
