<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Leonex\RiskManagementPlatform\Observer\RestrictPayments">
        <arguments>
            <argument name="filterList" xsi:type="object">Leonex\RiskManagementPlatform\Model\Component\Connector</argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="rmp_save_dob_in_shipping_address" type="Leonex\RiskManagementPlatform\Plugin\Checkout\Model\ShippingInformationManagementPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Customer\Api\AccountManagementInterface">
        <plugin name="rmp_safe_guest_email" type="Leonex\RiskManagementPlatform\Plugin\Customer\Api\SafeGuestEmailPlugin" sortOrder="1" />
    </type>
</config>
