<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="rmp.layout.processor" type="Leonex\RiskManagementPlatform\Plugin\Checkout\Block\Checkout\LayoutProcessorPlugin" sortOrder="1" />
    </type>
</config>
