<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="leonex_rmp" translate="label" sortOrder="405" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Risk Management Platform</label>
            <tab>sales</tab>
            <resource>Leonex_RiskManagementPlatform::settings</resource>
            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="is_active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Score rating enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="apikey" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>API Key</label>
                    <comment>You can find the API Key in the RMP settings (Webshop -> General Settings -> API Key).</comment>
                </field>
                <field id="apiurl" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>API URL</label>
                    <validate>required-entry</validate>
                    <comment>Don't change unless asked to do so.</comment>
                </field>
                <field id="time_of_checking" translate="label" type="select" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Time of checking</label>
                    <source_model>Leonex\RiskManagementPlatform\Model\Config\Source\CheckingTime</source_model>
                </field>
                <field id="payment_methods_to_check" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment methods to check</label>
                    <source_model>Leonex\RiskManagementPlatform\Model\Config\Source\PaymentMethods</source_model>
                </field>
                <field id="max_grand_total_when_offline" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum order grand total if the RMP is unavailable</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <comment>If the RMP is unresponsive, what is the maximum allowed grand total for the selected payment methods? Set to "0" if the payment methods should be disabled in that case.</comment>
                </field>
                <field id="is_dob_required" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Is Date of Birth required</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>A risk evaluation can not be done without the date of birth.</comment>
                </field>
                <field id="dob_tooltip" translate="label" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Tooltip Date of Birth</label>
                </field>
            </group>
            <group id="logging" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Logging</label>
                <field id="debug_logging_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable debug logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This should only be enabled for debugging purpose as it will slow down your system.</comment>
                </field>
                <field id="storage_duration_in_days" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>How many days should logs be stored</label>
                    <validate>integer</validate>
                    <comment>Set to 0 to disable log cleaning. Recommended: 14 days</comment>
                </field>
            </group>
        </section>
    </system>
</config>
